{% extends 'base.html' %}
{% block body %}

    <div class="container my-3">
      <form action="/" method="POST">
        <div class="mb-3">
          <h2>ADD USER</h2>
          <label>Email address</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label>Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container my-3">
      <h2>My Data</h2>
      {% if show_data|length == 0 %}
        <div class="alert alert-warning" role="alert">
          No records found.
        </div>
      {% else %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Password</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in show_data %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ x.E_Mail }}</td>
                <td>{{ x.Passwords }}</td>
                <td>{{ x.date }}</td>
                <td>
                  <a href="/update/{{ x.Sno }}" type="button" class="btn btn-warning btn-sm mx-1">Update</a>
                  <a href="/delete/{{ x.Sno }}" type="button" class="btn btn-danger btn-sm mx-1">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock body %}
